body {
      background-color: lightgray;
      color: black;
      font-family: arial;
    }

h1 {
    background-color: navy;
    color: white;
    text-align: center;
    position: center;
    font-family: verdana;
}

h3 {
    color: navy;
    position: center;
    font-family: verdana;
}

h2 {
  margin-left: 25px;
}

.example {
  font-weight: bold;
}

#before::before {
  content: url(bradyhead.png);
}

#before2::before {
  content: "Why??? ";
  color: blue;
}

#after::after {
  content: url(bradyhead.png);
}

#after2::after {
  content: " Because.";
  color: blue;
}

footer {
    text-align: center;
    bottom: 0;
    font-size: .75em;
}
