* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
}

.container {
  margin: 2em auto;
  width: 70%;
}
.example-div {
    background-color: red;
    float: left;
    height: auto;
    margin: .5em;
    padding: 1em;
    width: 35%;
  }
.example-div:hover {
    background-color: blue;

  }
.example-div p {
    color: white;
    font-family: sans-serif;
    text-align: center;
  }

.example-div-2 {
    background: red;
    float: left;
    height: auto;
    margin: .5em;
    padding: 1em;
    width: 30vmax;
  }
.example-div-2:hover {
    -webkit-transition: width 1s step-end;
    width: 50%;
  }
.example-div-2 p {
    color: white;
    font-family: sans-serif;
    text-align: center;
  }
